/* .dashboardcol{
    display: flex;
}
.dashcontent{
    width: 200px;
    height: 200px;
    background-color: grey ;
}
.dashall{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    width: 100%;
    margin-top: 20px;
} */